:root {
    --primary-color: #0f7fc0;
    --secondary-color: #242424;
    --link-color: #242424;
    --link-hover-color: #ff000000;
    --dropdown-bg-color: #f56e20;
    --dropdown-link-color: rgb(197, 20, 20);
    --dropdown-link-hover-color: #f1f1f1;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9fdff;
    
  
  }
  
  h1 {
   
    text-align: center;
    margin-top: 50px;
    color: var(--secondary-color);
  }
  
  p {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: #666;
  }
  p a{color: #0f7fc0;}
  /*
  .category-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 20px; 
    text-align: center;
}

.category-list li {
    margin-top: 10px; 
}

.category-list li a {
    min-width: 120px; 
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.category-list li a:hover {
    background-color: var(--dropdown-bg-color);
}
*/ 
.container-img {
  margin-bottom: 30px;
  text-align: center;
}

.container-img img {
  max-width: 60%;
  height: auto;
  display: inline-block;
}

.container-redes img {

  max-width: 15%;
  max-height: 150px;
  display: inline-block;
  margin: 10px;
 
}
.container-redes {
  margin-bottom: 50px;
  text-align: center;
}



#container-selector-cats {
  text-align: center;
  margin-top: 20px;
}

.category-list {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  display: inline-block; /* Para que se ajuste al contenido */
  margin: 0 auto; /* Para centrarlo horizontalmente */
  margin-bottom: 60px;
}

.category-list:focus {
  outline: none; /* Elimina el borde al hacer foco */
}

.category-list option {
  padding: 5px;
}

.category-list option:hover {
  background-color: #e0e0e0;
}

.quote {
  font-style: italic; /* Cambia el estilo de la fuente a cursiva */
  background-color: #e3f7ff; /* Cambia el color de fondo */
  border-left: 5px solid #ccc; /* Añade una línea a la izquierda para simular un bloque de cita */
  padding: 10px; /* Añade espacio alrededor del texto */
  margin: 20px auto; /* Ajusta el margen para separar la cita de otros elementos y centra horizontalmente */
  text-align: center; /* Centra el texto horizontalmente */
  max-width: 55%; /* Ancho máximo del fondo de la cita */
  font-size: 1.5rem;
  margin-bottom: 30px;
  margin-top: 50px;
}


h1 {
  font-size: 32px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alineación centrada */
  margin-bottom: 20px; /* Margen inferior */
}

#nombre-pag {
  font-size: 3rem;
  font-style: italic;
  color: var(--primary-color); /* Color azul */
  /* Puedes agregar más estilos según sea necesario */
}
#nombre-pag2 {
  font-size: 3rem;
  font-style: italic;
  color: var(--secondary-color); /* Color azul */
  /* Puedes agregar más estilos según sea necesario */
}

